.button {
  border: 2px solid var(--pink);
  border-radius: 10px;
  padding: 6px 12px;
  margin: 0 5px;
  background: none;
  transition: 0.2s ease-in-out;
  font-size: 1em;
}

.button:hover {
  color: var(--background-dark);
  background-color: var(--pink);
}

.pagination_button {
  border: 2px solid var(--yellow);
  color: var(--yellow);
  border-radius: 20px;
  margin: 10px 10px;
  padding: 5px 10px;
  min-width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}