/* fonts */
@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/Manrope_variable.ttf") format("truetype");
  font-display: swap;
}

/* Mobile styles (base) */
.nav_desktop {
  display: none;
}

html, body {
  font-family: "Manrope";
  color: var(--primary);
  background: var(--background);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  scroll-behavior: smooth;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 1.25em;
}
h2 {
  font-size: 1.1em;
}

a {
  color: var(--pink);
  text-decoration: none;
}

/* End HTML/Body */

/*
Content section
*/

ul {
  list-style-type: "→ ";
}

.body_wrapper .content__wrapper {
  margin: 0px auto;
  padding: 0px 10px;
  line-height: 1.5;
  }

.body_wrapper {
  flex: 1;
  display:flex;
  flex-direction: column;
}

.body_wrapper > .content__wrapper {
  flex: 1;
  min-width: 100%;
}

.body_wrapper .content__wrapper h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 500;
}
.body_wrapper .content__wrapper h1 {
  border-bottom: 1px solid var(--green);
}

.body_wrapper .content__wrapper p {
  margin: 10px 10px;
}

.body_wrapper {
  position: relative;
}

.postlist_item {
  font-size: 1.15em;
  margin: 10px 0 0 10px;
}
.postlist span {
  font-style: italic;
}
.postlist p {
  margin: 0 0;
}

.postlist a {
    color: var(--yellow);
}

.postlist h2 {
  margin: 0;
}

.postlist {
  list-style-type: none;
  padding-left: 0;
}

.bottom_pagination {
  position: absolute;
  right: 0;
  bottom: 0;
}

.pagination {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}