footer {
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-dark);
  padding: 10px 0;
}

.media_links {
  margin: 10px 0px;
}

.license_wrapper {
  margin: 5px 0;
  width: 100%;
  padding: 5px 0 0 0;
}

.license_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}