header {
  background-color: var(--background-dark);
  margin: 0px 0px 5px 0px;
  padding: 10px 0;
}

header .wrapper {
  display: flex;
  justify-content: center;
}

.logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_wrapper span {
  font-size: 1.7em;
  font-family: sans-serif;
}