/* small tablets sized */
@media screen and (min-width: 620px) {

    body {
        font-size: 18px;
    }
}

/* large tablet / normal laptop sized */
@media screen and (min-width: 960px) {

    body {
        font-size: 20px;
    }

    .nav_desktop {
        display: unset;
    }

    .nav_mobile {
        display: none;
    }

    footer {
        margin: 5px 0 0 0;
    }

    .body_wrapper .content__wrapper {
        display: flex;
        flex-direction: row;
        margin: 10px 5px;
        padding: 0 0 0 0;
    }

    .sidebar {
        display: unset;
        flex: 25%;
        border: 2px solid var(--green);
        padding: 10px 10px;
        background-color: var(--background-dark);
        border-radius: 6px;
        margin: 0 0 0 0;
    }

    main {
        flex: 75%;
        margin: 0 10px;
        padding: 10px 15px;
    }

    .sidebar h1 {
        border-bottom: none;
        text-align: center;
    }

    .hero {
        margin: 10px 5px;
    }

    header .wrapper {
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1400px;
        padding: 0 10px;
    }
}

/* desktop / big laptop sized */
@media screen and (min-width: 1200px) {
    
    body {
        font-size: 22px;
        margin: auto;
        width: 100%;
    }

    .body_wrapper {
        max-width: 1400px;
        margin: 0 auto;
        width:100%;
    }

    .projects a {
        grid-column: 1/3;
    }

    .projects p {
        grid-column: 3/13;
    }
}