.nav_list_mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:var(--background-darker);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    padding: 5px 0;
}

.nav_list_mobile .nav_text {
    font-weight: 600;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space:nowrap;
    font-size: 0.7em;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.4s ease-in-out;
}

.nav_link:hover {
    background-color:rgb(87, 98, 110);
}

[aria-current]:not([aria-current="false"]) {
    color:var(--yellow);
    background: transparent;
}