.projects img {
    width: 128px;
    margin: 15px auto;
    border: 2px solid var(--green);
    border-radius: 100%;

}

.projects a {
    grid-column: 1/4;
    margin: 0 auto;
    text-align: center;
}

.projects p{
    align-self: center;
    grid-column: 4/13;
    margin: 15px 0;
}

.projects p span {
    color: var(--yellow);
}
.projects a {
    align-self: center;
}
