.sidebar {
  display: none;
}

.sidebar_wrapper > p {
    font-size: 0.85em;
    margin: 20px 20px;
}

.sidebar_wrapper h2 {
    font-size: 1.05em;
}

.sidebar_wrapper span {
    font-size: 0.85em;
}

.sidebar_wrapper ol {
 counter-reset:list-item;
}
.sidebar_wrapper li {
 display:block;
 counter-increment:list-item;
}
.sidebar_wrapper li:before {
 content:counters(list-item, ".") " "
}

.sidebar_wrapper .nav_toc_heading {
    font-size: 1.25em;
    border-bottom: 1px solid var(--green);
    text-align: center;
}

.nav_toc_list {
    padding: 0 18px;
}

.sidebar_wrapper {
    position: sticky;
    top: 10px;
}