{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "partials/metadata.html" %}
    
    <!-- Capture most critical css then minify and inline it  -->
    {% set css %}
    {% include "styles/reset.css" %}
    {% include "styles/variables.css" %}
    {% include "styles/critical.css" %}
    {% include "styles/navbars.css" %}
    {% include "styles/header.css" %}
    {% include "styles/projects.css" %}
    {% include "styles/sidebar.css" %}
    {% include "styles/footer.css" %}
    {% include "styles/buttons.css" %}
    {% include "styles/media_queries.css" %}
    {% endset %}
    
    <style>
      {{ css | cssmin | safe }}
    </style>


    {# Include additonal critical css in style tag #}
    {% if pageCriticalStyles %}
      {% set extraCss %}
        {% for item in pageCriticalStyles %}
          {% include item %}
        {% endfor %}
      {% endset %}

      <style>
        {{ extraCss | cssmin | safe }}
      </style>
    {% endif %}


    {# Non-critical css can be loaded later, here, if a specific page needs extra css! #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
      <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'" />
      {% endfor %}
    {% endif %}
  </head>

  <body>
    <header role="banner">
      {% block header %}{% endblock %}
    </header>

    <div class="body_wrapper">
      {% block hero %} {%endblock%}


      <div class="content__wrapper">
        <div class="sidebar">
          {% block sidebar %}{% endblock %}
        </div>
        <main tabindex="-1">
          {% block content %}{% endblock %}
        </main>
      </div>

      {% block mobilenav %}
      {% include "partials/nav_mobile.html" %}
      {% endblock %}
    </div>
    <footer role="contentinfo">
      {% block footer %}{% endblock %}
    </footer>
  </body>

</html>