{% extends "layouts/base.html" %}

{% set pageCriticalStyles = ['styles/posts.css'] %}
{% set pageCriticalStyles = ['styles/hero.css'] %}
{% set postListItems = pagination.items %}

{# If this is a tag, grab those items instead as one large collection #}
{% if tag %}
  {% set postListItems = collections[tag] %}
{% endif %}


{% block header %}
    {% include "partials/header.html" %} 
{% endblock %}

{% block hero %}
  {% include "partials/hero.html" %}
{% endblock %}

{% block sidebar %}
{% include "partials/sidebar_schedule.html" %}
{% endblock %}


<!-- {% block content %}
<div>
  <article class="posts">
    <h1>{{ title }}</h1>

    {% include "partials/postlist.html"%}

    {% if not tag %}
      <div class="bottom_pagination">{% include "partials/pagination.html" %}</div>
    {% endif %}

  </article>
  </div>
{% endblock %} -->

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}