{% extends "layouts/base.html" %}

{% block header %}
    {% include "partials/header.html" %} 
{% endblock %}

{% block sidebar %}
    {% include "partials/TOCsidebar.html" %}
{% endblock %}

{% block content %}
  <article>
    <h1>{{ title }}</h1>
    {{ content | safe }}
      {% if extraWriter %}
        {# TODO #}
      {% endif%}
  </article>
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}