<div class="media_links">
    <div class="media_list">
        <a href="https://gitlab.com/{{ site.name }}" class="media_link button">GitLab</a>
        <a href="https://www.reddit.com/r/{{ site.name }}/" class="media_link button">Reddit</a>
        <a href="https://discord.com/invite/DvFH3Dy" class="media_link button">Discord</a>
    </div>
</div>

<div class="contactus">
    <p>Contact us: <a href="mailto:{{ site.name }}@protonmail.com">{{ site.name }}@protonmail.com</a></p>
</div>
<div class="license_wrapper">
    <a class="license_links" rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        aria-label="License link">
        <img src="/assets/vectors/license/cc.svg" alt="cc license icon" class="license_icon" width="32" height="32">
        <img src="/assets/vectors/license/cc-by.svg" alt="cc 'by' license icon" class="license_icon" width="32" height="32">
        <img src="/assets/vectors/license/cc-nc.svg" alt="cc 'nc' license icon" class="license_icon" width="32" height="32">
        <img src="/assets/vectors/license/cc-sa.svg" alt="cc 'sa' license icon" class="license_icon" width="32" height="32">
    </a>
</div>