<div class="wrapper">
    
    <div class="logo_wrapper">
        <a href="/" aria-label="{{ site.name }}"><img src="/assets/vectors/favicon.svg" alt="org logo" width="64" height="64"></a>
        <span>{{ site.name }}</span>
    </div>


    {% include "partials/nav_desktop.html" %}
</div>