<nav class="nav_mobile" aria-label="Primary navigation">
    <div class="nav_list_mobile">
        {% for item in navigation.items %}
            <a class="nav_link" href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
            <img class="nav_icon" src="{{ item.icon }}" alt="Navbar icon"></i>
            <span class="nav_text">{{ item.text }}</span>
            </a>
        {% endfor %}
    </div>
</nav>