<nav class="nav_desktop" aria-label="Primary navigation">
    <div class="nav_list_desktop">
        {% for item in navigation.items %}
            <a class="nav_item button" href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
        {% endfor %}
    </ul>
</nav>