{% if pagination.href.next or pagination.href.previous %}
<div class="pagination" aria-label="Pagination links">
    {% if pagination.href.previous %}
        <a class="pagination_button" href="{{ pagination.href.previous }}{{ paginationAnchor }}" data-direction="backwards">
             Newer posts
        </a>
    {% endif %}
    {% if pagination.href.next %}
        <a class="pagination_button" href="{{ pagination.href.next }}{{ paginationAnchor }}" data-direction="forwards">
             Older posts
        </a>
    {% endif %}
</div>
{% endif %}