<div class="postlist">
    {% if postListHeadline %}
    <h1> {{ postListHeadline }} </h1>
    {% endif %}
    
    <div>
        {% if postListItems %}
            {% for item in postListItems %}
            <div class="postlist_item">
                <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
                <p>{{ item.data.description | safe }}</p>
                <span>{{ item.data.date }}</span>
            </div>
            <hr>
            {% endfor %}
        {% endif %}
    </div>
</div>