<section class="projects">
    <h1>Community projects</h1>
    <div class="projects grid">
        {% for project in projects.items %}
        <a href="{{ project.link }}">
            <img src="{{ project.url }}" alt="{{ project.logo_alt }}">
            
        </a>
                    <p> <a href="{{ project.link }}"><span> {{ project.logo_desc }}</span></a><br> {{ project.text }}</p>
        {% endfor %}
    </div>
</section>

